<div class="d-flex align-items-center border-bottom p-3">
  <div class="avatar mr-4">
    <fa-icon [icon]="['fas', 'user-circle']" size="5x" [styles]="{'color': 'red'}"></fa-icon>
  </div>
  <div class="flex-grow-1">
    <div class="d-flex justify-content-between">
      <span class="">{{ data.title }}</span>
      <div class="text-muted">
        <fa-icon [icon]="['far', 'comment']" size="lg"></fa-icon>
        <span class="ml-1">{{ data.comments }}</span>
      </div>
    </div>
    <p class="text-muted">{{ data.description.slice(0, 56) + ' ...' }}</p>
    <div class="d-flex justify-content-between">
      <div class="d-flex text-muted">
        <fa-icon [icon]="['far', 'thumbs-up']" size="lg" (click)="onLikeClick(true)" *ngIf="!like"></fa-icon>
        <fa-icon [icon]="['fas', 'thumbs-up']" size="lg" (click)="onLikeClick(true)" *ngIf="like"></fa-icon>
        <fa-icon class="mx-4" [icon]="['far', 'thumbs-down']" size="lg" (click)="onLikeClick(false)" *ngIf="like!==false"></fa-icon>
        <fa-icon class="mx-4" [icon]="['fas', 'thumbs-down']" size="lg" (click)="onLikeClick(false)" *ngIf="like===false"></fa-icon>
        <span>{{'Pregunta ' + data.asked_username + ' en ' + data.category }}</span>
      </div>
      <div class="d-flex text-muted">
        <fa-icon [icon]="['fas', 'share-alt']" size="lg"></fa-icon>
        <fa-icon class="ml-5" [icon]="['fas', 'star']" size="lg" (click)="onFavoriteClick()" [styles]="{'color': '#ffd704'}" *ngIf="favorite"></fa-icon>
        <fa-icon class="ml-5" [icon]="['far', 'star']" size="lg" (click)="onFavoriteClick()" *ngIf="!favorite"></fa-icon>
      </div>
    </div>
  </div>
</div>
