<div class="post">
  <div class="post-avatar">
    <fa-icon [icon]="['fas', 'user-circle']" size="5x" [styles]="{'color': 'red'}"></fa-icon>
  </div>
  <div class="post-content">
    <span>Title</span>
    <p>Here is the description</p>
    <div>
      <div>
        <fa-icon [icon]="['far', 'thumbs-up']"></fa-icon>
        <fa-icon [icon]="['far', 'thumbs-down']"></fa-icon>
        <span>asdfasdfasdfsdf</span>
      </div>
      <div>
        <fa-icon [icon]="['fas', 'share-alt']"></fa-icon>
        <fa-icon [icon]="['far', 'star']"></fa-icon>
      </div>
    </div>
  </div>
</div>
